SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
# Para usar PostgreSQL descomenta y ajusta esta línea:
# DATABASE_URL=postgres://istte_user:David21a@localhost:5432/istte_db
